1_DAW/Lenguaje de Marcas/Xml/Ejercicios/Examen/Dtd.dtd

<!ELEMENT piratas (pirata)>
<!ELEMENT pirata (datos_actor, peliculas, roles)>
<!ATTLIST pokemon nombre CDATA #REQUIRED>
<!ATTLIST pokemon img CDATA #REQUIRED>

<!ELEMENT datos_actor (nombre, apellidos, sexo, nacimiento)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT sexo (#PCDATA )>
<!ELEMENT nacimiento (#PCDATA)>


<!ELEMENT peliculas (pelicula)>
<!ELEMENT pelicula (datos)>
<!ELEMENT datos (titulo, saga)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT saga (#PCDATA)>


<!ELEMENT roles (rol)>
<!ELEMENT rol (tipo_rol, barco)>
<!ELEMENT tipo_rol (#PCDATA)>
<!ELEMENT barco (#PCDATA)>
